# KiCad Design Sources & Schematics (Proprietary / IP Protection)
*.kicad_pcb
*.kicad_sch
*.kicad_pro
*.kicad_prl
*.kicad_dru
fp-lib-table
sym-lib-table
*.pretty/
.history/
*.bak
*-save.kicad_*
_autosave-*
*.lck

# PlatformIO build artifacts & libraries
.pio/
firmware/.pio/
.vscode/

# OS metadata
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
.DS_Store
